* {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

main {
  display: flex;
}

/* SIDE BAR SECTION START */

#sidebar {
  width: 18%;
  height: 100%;
}

#hehe {
  display: flex;
  height: 80%;
}

#handle {
  position: absolute;
  left: 17%;
  top: 4%;
  width: 2.5%;
}

.tezo-logo {
  height: auto;
  width: 46%;
  margin-left: 9%;
  margin-top: 8%;
}

.tezo-logo img {
  width: 100%;
}

#menu-desc {
  font-size: 1vw;
  padding-left: 9%;
  padding-top: 10%;
  color: gray;
  opacity: 0.5;
}

.sidebar-menu-item p {
  font-size: 1vw;
  color: rgb(162, 162, 162);
  font-weight: 600;
  margin-left: 5%;
}

.sidebar-menu-item img {
  width: 10%;
}

.sidebar-menu-item {
  display: flex;
  padding-left: 9%;
}

#sidebar-menu-dashboard {
  margin-top: 6%;
}

#employee-option-container {
  position: relative;
}
#sidebar-menu-employees {
  border-radius: 10px;
  margin-right: 6%;
  padding-left: -10%;
  background-color: rgb(255 227 227);
}

#tab-indicator {
  position: absolute;
  background-color: rgb(255, 63, 63);
  width: 2%;
  height: 100%;
  top: 0%;
  left: 53%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 45%;
}

#sidebar-menu-employees p {
  color: red;
  opacity: 0.6;
}

a {
  text-decoration: none;
}

#update-message {
  position: relative;
  margin-top: 100vh;
  height: 45%;
  margin-right: 5%;
  margin-left: 2%;
  border-radius: 6px;
  background-color: rgba(255, 88, 88, 0.102);
}

#update-message h5 {
  font-size: 1vw;
  color: rgba(255, 0, 0, 0.605);
  padding-top: 5%;
  padding-left: 4%;
  margin-bottom: 0%;
  text-align: left;
}

#update-message p {
  font-size: 1.1vw;
  padding-left: 4%;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 0%;
  line-height: 3vh;
  color: rgba(128, 128, 128, 0.384);
}

#update-message-btn-container {
  width: 16vw;
}
#dismiss-btn,
#accept-btn {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 5.3vw;
  height: 2em;
  border-radius: 6px;
}

#dismiss-btn {
  font-size: 1vw;
  margin-left: 8%;
  background-color: rgba(255, 88, 88, 0.289);
  border-style: none;
  color: red;
}

#accept-btn {
  font-size: 1vw;
  margin-left: 4%;
  background-color: rgba(255, 0, 0, 0.673);
  border-style: none;
  color: white;
}

/* SIDE BAR SECTION END */

/* CONTENT SECTION START */
#content {
  width: 82%;
  height: 100%;
}

.search {
  position: relative;
  width: 98%;
  height: 10vh;
  margin-top: 0.5%;
  margin-left: 2%;
}

.search-input {
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(202, 202, 202);
}

::placeholder {
  padding-left: 4%;
  font-size: 1.2vw;
  opacity: 0.5;
}

#search-icon {
  position: absolute;
  width: 2%;
  left: 1.5%;
  top: 32%;
}

#icon-menu-container {
  position: absolute;
  left: 63%;
  top: 12%;
}

#notifications-icon {
  margin-top: -1%;
}
.menu-icon {
  width: 3.5vw;
}

#profile {
  display: flex;
  position: absolute;
  right: 2%;
  top: 15%;
  width: 13%;
}

#profile-text-container p {
  margin-top: 4%;
  margin-bottom: 0%;
  white-space: nowrap;
}

.profile-image {
  position: relative;
  margin-top: 0%;
  width: 28%;
  border-radius: 100%;
}

#user-status {
  width: 6%;
  height: 23%;
  border-radius: 50%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: green;
  position: absolute;
  top: 79%;
  left: 18%;
}

#profile-text-container {
  margin-left: 4%;
}

#profile-name {
  font-size: 0.8vw;
  font-weight: 600;
}
#profile-designation {
  font-size: 0.9vw;
  font-weight: 800;
}

#profile-dropdown {
  position: absolute;
  /* height: 57%; */
  width: 1vw;
  /* margin-left: 4%; */
  font-size: 2vw;
  /* margin-top: -7%; */
  margin-bottom: 10%;
  right: 0%;
}

#profile-dropdown {
  border-style: none;
}
/* EMPLOYEE OPERATION SECTION START */

#content-employee {
  display: flex;
  margin-top: 0%;
  margin-left: 2%;
}
#content-employee-title {
  line-height: 81%;
}

#content-employee-title p {
  white-space: nowrap;
  font-size: 1.1vw;
  color: rgba(128, 128, 128, 0.676);
}

#content-employee-title h4 {
  font-size: 1.1vw;
  color: rgba(0, 51, 101, 0.613);
}

.employee-operation {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#export-btn,
#add-employee-btn {
  position: relative;
  margin-top: 4%;
  height: 50%;
  border-radius: 7px;
  border-width: 0px;
}
#export-btn {
  width: 20%;
  font-size: 0.9vw;
}
#export-icon {
  position: absolute;
  width: 1.3vw;
  left: 7%;
  top: 18%;
}
#add-employee-btn {
  width: 40%;
  margin-left: 2%;
  font-size: 1vw;
  background-color: rgb(255, 88, 88);
  color: white;
  font-weight: 200;
}

#add-employee-icon {
  position: absolute;
  width: 1.6vw;
  left: 11%;
  top: 18%;
}

.filter-icon {
  width: 1.4vw;
  margin-left: 2%;
  margin-right: 1%;
}

.filter-icon img {
  width: 100%;
  margin-top: 50%;
}

/* EMPLOYEE OPERATION SECTION END */

/* EMPLOYEE FILTER SECTION START */

#employee-filter {
  display: flex;
  margin-top: 2%;
}

.search-by-letter-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  flex-wrap: wrap;
}

.search-by-letter {
  width: 2.5vw;
  height: 6vh;
  font-size: 1vw;
  border-style: none;
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.125);
}

.filter-categories {
  display: flex;
  height: 30%;
  border-radius: 7px;
  margin-top: 2%;
  margin-left: 2%;
  background-color: rgb(255 227 227);
}

.filter-categories p {
  color: rgb(255, 88, 88);
  margin-left: 1%;

  font-size: 1.1vw;
}

#dropdown-options {
  width: 60%;
  margin-bottom: 1%;
}
#dropdown-options select {
  margin-top: 1%;
  height: 90%;
  border-radius: 7px;
  border-color: red;
  font-size: 1vw;
}

#status-dropdown {
  width: 10%;
  margin-left: 4%;
}
#location-dropdown {
  width: 14%;
}

#department-dropdown {
  width: 18%;
}

.employee-filter-btn-container {
  display: flex;
  margin-left: 23%;
  width: 10%;
}

#reset,
#apply {
  height: 55%;
  width: 50%;
  margin-top: 10%;
  border-radius: 5px;
  border-width: 0px;
  font-size: 0.9vw;
}

#reset {
  color: rgb(255, 88, 88);
  background-color: white;
  border-width: 1px;
  border-color: red;
}
#apply {
  margin-left: 5%;
  background-color: rgb(255, 88, 88);
  color: white;
}

/* EMPLOYEE DATA TABLE SECTION START */

/* TABLE OPERATION DIVISON START */

#employee-data-table {
  height: 80%;
}

#employee-data-table #table-operations {
  position: relative;
  margin-top: 2%;
  height: 8vh;
  margin-left: 2%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 2px 0px 10px rgb(202, 202, 202);
}

#delete-operation-btn {
  position: absolute;
  left: 2%;
  margin-left: 2%;
  margin-top: 1%;
  width: 5vw;
  height: 60%;
  background-color: rgb(255, 142, 142);
  color: white;
  border-radius: 5px;
  border-width: 1px;
  border-color: red;
  font-size: 1.2vw;
}

#employee-data-table #table-operations #arrow-left-down-img {
  position: absolute;
  width: 1.5vw;
  top: 25%;
  left: 1%;
}

#employee-data-table #table-operations #add-operation-img {
  position: absolute;
  width: 1.5vw;
  top: 16%;
  right: 3%;
}
/* TABLE OPERATION DIVISON END */

/* TABLE DATA DIVISON START */

#table-data {
  width: 100%;
}

table {
  height: 10vh;
  width: 98%;
  margin-left: 2%;
  margin-right: 0%;
  border-collapse: collapse;
  box-shadow: 0px 11px 23px rgb(202, 202, 202);
}
th {
  position: sticky;
  top: 0%;
  font-size: 1vw;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(241, 241, 241);
}

th i {
  margin-left: 3%;
}

td {
  font-size: 1vw;
  text-align: center;
  width: 13%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid black;
}

.table-btn {
  width: 5vw;
  height: 4vh;
  font-size: 1vw;
  color: green;
  background-color: rgba(0, 128, 0, 0.122);
  border-style: none;
  border-radius: 5px;
}

#user-name {
  display: flex;
  align-items: center;
}

#user-img {
  height: 100%;
  width: 25%;
  border-radius: 100%;
  overflow: hidden;
}

#user-details h4,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
#user-details {
  width: 60%;
  text-align: left;
  margin-left: 2%;
}

#user-details h4 {
  font-size: smaller;
}

#user-img img {
  padding-top: 4%;
  width: 100%;
}

/* TABLE DATA DIVISION END */

/* EMPLOYEE DATA TABLE SECRION END */
