* {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

main {
  display: flex;
}

#content {
  width: 82%;
  height: 100%;
}

/* SIDE BAR SECTION START */

#sidebar {
  width: 18%;
  height: 100vh;
}

#hehe {
  display: flex;
  height: 8%;
}

#handle {
  position: absolute;
  left: 17%;
  top: 4%;
  width: 2.5%;
}

.tezo-logo {
  height: auto;
  width: 46%;
  margin-left: 9%;
  margin-top: 8%;
}

.tezo-logo img {
  width: 100%;
}

#menu-desc {
  font-size: 1vw;
  padding-left: 9%;
  padding-top: 10%;
  color: gray;
  opacity: 0.5;
}

.sidebar-menu-item p {
  font-size: 1vw;
  color: rgb(162, 162, 162);
  font-weight: 600;
  margin-left: 5%;
}

.sidebar-menu-item img {
  width: 10%;
}

.sidebar-menu-item {
  display: flex;
  padding-left: 9%;
}

#sidebar-menu-dashboard {
  margin-top: 6%;
}

#employee-option-container {
  position: relative;
}

#sidebar-menu-employees img {
  color: gray;
}
a {
  text-decoration: none;
}
#sidebar-menu-roles {
  border-radius: 10px;
  margin-right: 6%;
  padding-left: -10%;
  background-color: rgb(255 227 227);
}

#tab-indicator {
  position: absolute;
  background-color: rgb(255, 63, 63);
  width: 2%;
  height: 100%;
  top: 0%;
  left: 53%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 45%;
}

#sidebar-menu-roles p {
  color: red;
  opacity: 0.6;
}

#update-message {
  margin-top: 100vh;
  height: 21%;
  margin-right: 5%;
  margin-left: 2%;
  border-radius: 6px;
  background-color: rgba(255, 88, 88, 0.102);
}

#update-message h5 {
  font-size: 1vw;
  color: rgba(255, 0, 0, 0.605);
  padding-top: 5%;
  padding-left: 4%;
  margin-bottom: 0%;
  text-align: left;
}

#update-message p {
  font-size: 1.1vw;
  padding-left: 4%;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 0%;
  line-height: 3vh;
  color: rgba(128, 128, 128, 0.384);
}

#update-message-btn-container {
  width: 16vw;
}
#dismiss-btn,
#accept-btn {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 5.3vw;
  height: 2em;
  border-radius: 6px;
}

#dismiss-btn {
  font-size: 1vw;
  margin-left: 8%;
  background-color: rgba(255, 88, 88, 0.289);
  border-style: none;
  color: red;
}

#accept-btn {
  font-size: 1vw;
  margin-left: 4%;
  background-color: rgba(255, 0, 0, 0.673);
  border-style: none;
  color: white;
}

/* SIDE BAR SECTION END */

/*SEARCH BAR SECTION START*/
.search {
  position: relative;
  width: 98%;
  height: 10vh;
  margin-top: 0.5%;
  margin-left: 2%;
}

.search-input {
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(202, 202, 202);
}

::placeholder {
  padding-left: 4%;
  font-size: 1.2vw;
  opacity: 0.5;
}

#search-icon {
  position: absolute;
  width: 2%;
  left: 1.5%;
  top: 32%;
}

#icon-menu-container {
  position: absolute;
  left: 63%;
  top: 12%;
}

#notifications-icon {
  margin-top: -1%;
}
.menu-icon {
  width: 3.5vw;
}

#profile {
  display: flex;
  position: absolute;
  right: 2%;
  top: 15%;
  width: 13%;
}

#profile-text-container p {
  margin-top: 4%;
  margin-bottom: 0%;
  white-space: nowrap;
}

.profile-image {
  position: relative;
  margin-top: 0%;
  width: 28%;
  border-radius: 100%;
}

#user-status {
  width: 6%;
  height: 23%;
  border-radius: 50%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: green;
  position: absolute;
  top: 79%;
  left: 18%;
}

#profile-text-container {
  margin-left: 4%;
}

#profile-name {
  font-size: 0.8vw;
  font-weight: 600;
}
#profile-designation {
  font-size: 0.9vw;
  font-weight: 800;
}

#profile-dropdown {
  position: absolute;
  /* height: 57%; */
  width: 1vw;
  /* margin-left: 4%; */
  font-size: 2vw;
  /* margin-top: -7%; */
  margin-bottom: 10%;
  right: 0%;
  border-style: none;
}

/* SEARCH BAR SECTION END */

/* CONTENT EMPLOYEE SECTION */

#content-employee {
  display: flex;
  margin-top: 0%;
  margin-left: 2%;
}
#content-employee-title {
  line-height: 81%;
}

#content-employee-title p {
  white-space: nowrap;
  font-size: 1.1vw;
  color: rgba(128, 128, 128, 0.676);
}

#content-employee-title h4 {
  font-size: 1.1vw;
  color: rgba(0, 51, 101, 0.613);
}

.employee-operation {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#add-employee-btn {
  position: relative;
  margin-top: 4%;
  height: 50%;
  border-radius: 7px;
  border-width: 0px;
  width: 18%;
  margin-left: 8%;
  font-size: 1vw;
  background-color: rgb(255, 88, 88);
  color: white;
  font-weight: 200;
}

#add-employee-icon {
  position: absolute;
  width: 1.6vw;
  left: 11%;
  top: 18%;
}

/* FILTER BY CATEGORIES SECTION */

.filter-categories {
  display: flex;
  position: relative;
  height: 30%;
  border-radius: 7px;
  margin-top: 2%;
  margin-left: 2%;
  background-color: rgb(255 227 227);
}

.filter-categories p {
  color: rgb(255, 88, 88);
  margin-left: 1%;

  font-size: 1.1vw;
}

#dropdown-options {
  width: 60%;
  margin-bottom: 1%;
}
#dropdown-options select {
  position: absolute;
  top: 18%;

  box-sizing: border-box;
  height: 69%;
  border-radius: 7px;
  border-color: red;
  font-size: 1vw;
}

#location-dropdown {
  width: 10%;
  left: 20%;
}

#department-dropdown {
  left: 6%;
  width: 12%;
}

.employee-filter-btn-container {
  display: flex;
  margin-left: 23%;
  width: 10%;
}

#reset,
#apply {
  height: 55%;
  width: 50%;
  margin-top: 10%;
  border-radius: 5px;
  border-width: 0px;
  font-size: 0.9vw;
}

#reset {
  color: rgb(255, 88, 88);
  background-color: white;
  border-width: 1px;
  border-color: red;
}
#apply {
  margin-left: 5%;
  background-color: rgb(255, 88, 88);
  color: white;
}

/* CARD CONTAINER */

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
  margin-left: 2%;
  margin-top: 2%;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(203, 203, 203, 0.724);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(227, 227, 227, 0.558);
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}

.card__info {
  position: relative;
  display: flex;
  align-self: end;
  align-items: center;
}

.card__info p {
  color: rgb(0, 29, 70);
  opacity: 0.6;
  font-size: 1em;
}

.card__info h4 {
  font-weight: 600;
  padding: 0;
  font-size: 0.9em;
}

.card__info #department-logo,
.card__info #location-logo {
  position: absolute;
  padding: 0;
}

#department-txt,
#location-txt {
  margin-left: 6%;
}

.card__info p {
  margin-top: 1%;
  padding-top: 0%;
  margin-bottom: 1%;
}
.card__info img {
  margin-left: auto;
  padding: 5px 20px;
}

.right-content {
  margin-left: auto;
  padding: 5px 20px;
}

/* .right-content {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #303032;
    border-radius: 20px;
  }  */

.stack-employe-icon-container {
  position: relative;
  width: 30%;
  height: 100%;
  margin-left: auto;
  padding: 5px 20px;
}

.stack-employee-icon-container img {
  position: absolute;
  width: 8%;
  padding: 0;
  border-radius: 50%;
  border: 1px solid white;
}

.stack-employee-icon-container div {
  position: absolute;
  width: 8%;
  height: 95%;
  border-radius: 50%;
  border: 0.2px solid black;
}

#stack-img-1 {
  top: 1%;
  right: 20%;
}

#stack-img-2 {
  top: 1%;
  right: 18%;
}

#stack-img-3 {
  top: 1%;
  right: 16%;
}

#stack-img-4 {
  top: 1%;
  right: 14%;
}

#stack-img-5 {
  top: 1%;
  right: 12%;
  background-color: white;
}

.stack-employee-icon-container div p {
  position: absolute;
  top: 20%;
  left: 4%;
  font-size: 0.7em;
}

#view-all-employee {
  margin-top: 2em;
  margin-left: 8em;
  margin-bottom: 0;
}
#view-all-employee p {
  white-space: nowrap;
  font-size: 0.8em;
}

#all-employee-btn-container a {
  color: black;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
@media only screen and (max-width: 1024px) {
  #sidebar {
    display: none;
  }

  #content {
    width: 100%;
  }

  .search {
    width: 100%;
    height: 12vh;
  }

  ::placeholder {
    padding-left: 6%;
    font-size: 2vw;
    opacity: 0.5;
  }

  #search-icon {
    position: absolute;
    width: 3%;
    left: 1.5%;
    top: 25%;
  }

  #icon-menu-container {
    position: absolute;
    left: 55%;
    top: 24%;
  }

  #profile {
    width: 30%;
    top: 10%;
    right: -10%;
  }

  #profile-text-container p {
    margin-top: 2%;
    margin-bottom: 0%;
    white-space: nowrap;
  }

  .profile-image {
    position: relative;
    margin-top: 0%;
    width: 15%;
    border-radius: 100%;
  }

  #user-status {
    width: 3%;
    height: 19%;
    border-radius: 50%;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: green;
    position: absolute;
    top: 75%;
    left: 11%;
  }

  #profile-text-container {
    margin-left: 4%;
  }

  #profile-name {
    font-size: 1vw;
    font-weight: 600;
  }
  #profile-designation {
    font-size: 2vw;
    font-weight: 800;
  }

  #profile-dropdown {
    position: absolute;
    /* height: 57%; */
    width: 2vw;
    height: 4vh;
    /* margin-left: 4%; */
    font-size: 2vw;
    /* margin-top: -7%; */
    margin-bottom: 10%;
    left: 44%;
    border-style: none;
  }

  #content-employee {
    margin-top: 4%;
  }
  #content-employee-title {
    line-height: 72%;
  }

  #content-employee-title p {
    white-space: nowrap;
    font-size: 1.3vw;
    color: rgba(128, 128, 128, 0.676);
  }

  #content-employee-title h4 {
    font-size: 4vw;
    color: rgba(0, 51, 101, 0.613);
  }

  #role-desc-title {
    font-size: 2vw;
  }
  #role-desc-text p {
    font-size: 1.3vw;
    line-height: 20px;
    color: gray;
    opacity: 0.8;
  }

  .employee-operation {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  #add-employee-btn {
    position: relative;
    margin-top: 2%;
    height: 35%;
    border-radius: 7px;
    border-width: 0px;
    width: 25%;
    margin-left: 8%;
    font-size: 1.7vw;
    background-color: rgb(255, 88, 88);
    color: white;
    font-weight: 200;
  }

  #add-employee-icon {
    position: absolute;
    width: 3vw;
    left: 8%;
    top: 18%;
  }

  .employee-filter-categories {
    height: 10vh;
    margin-bottom: 8%;
  }

  .filter-categories {
    display: flex;
    position: relative;
    height: 100%;
    border-radius: 7px;
    margin-top: 2%;
    margin-left: 2%;
    background-color: rgb(255 227 227);
  }

  .filter-categories p {
    color: rgb(255, 88, 88);
    margin-left: 1%;
    margin-top: 1.5%;
    font-size: 2vw;
  }

  #dropdown-options {
    width: 60%;
    margin-bottom: 1%;
  }
  #dropdown-options select {
    position: absolute;
    top: 18%;

    box-sizing: border-box;
    height: 65%;
    border-radius: 7px;
    border-color: red;
    font-size: 2vw;
  }

  #location-dropdown {
    width: 18%;
    left: 40%;
  }

  #department-dropdown {
    left: 10%;
    width: 25%;
  }

  .employee-filter-btn-container {
    display: flex;
    margin-left: 1%;
    padding-left: 15%;
    width: 30%;
  }

  #reset,
  #apply {
    height: 50%;
    width: 30%;
    margin-top: 5%;
    border-radius: 5px;
    border-width: 0px;
    font-size: 2vw;
  }

  #reset {
    color: rgb(255, 88, 88);
    background-color: white;
    border-width: 1px;
    border-color: red;
  }
  #apply {
    margin-left: 5%;
    background-color: rgb(255, 88, 88);
    color: white;
  }
}

@media only screen and (max-width: 280px) {
  #view-all-employee {
    margin-top: 2em;
    margin-left: 6em;
    margin-bottom: 0;
  }
  #view-all-employee p {
    white-space: nowrap;
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 320px) {
  #sidebar {
    display: none;
  }

  #content {
    width: 100%;
  }

  .search {
    width: 100%;
    height: 5vh;
  }

  ::placeholder {
    padding-left: 6%;
    font-size: 3vw;
    opacity: 0.5;
  }

  #search-icon {
    position: absolute;
    width: 4%;
    left: 1.5%;
    top: 30%;
  }

  #icon-menu-container {
    position: absolute;
    left: 45%;
    top: 12%;
  }

  #profile {
    width: 30%;
    top: 20%;
    right: 1%;
  }

  #profile-text-container p {
    margin-top: 2%;
    margin-bottom: 0%;
    white-space: nowrap;
  }

  .profile-image {
    position: relative;
    margin-top: 0%;
    width: 20%;
    border-radius: 100%;
  }

  #user-status {
    width: 3%;
    height: 18%;
    border-radius: 50%;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: green;
    position: absolute;
    top: 75%;
    left: 14%;
  }

  #profile-text-container {
    margin-left: 4%;
  }

  #profile-name {
    font-size: 2vw;
    font-weight: 600;
  }
  #profile-designation {
    font-size: 2vw;
    font-weight: 800;
  }

  #profile-dropdown {
    position: absolute;
    /* height: 57%; */
    width: 4vw;
    height: 4vh;
    /* margin-left: 4%; */
    font-size: 2vw;
    /* margin-top: -7%; */
    margin-bottom: 10%;
    left: 78%;
    border-style: none;
  }

  #content-employee-title {
    line-height: 72%;
  }

  #content-employee-title p {
    white-space: nowrap;
    font-size: 3vw;
    color: rgba(128, 128, 128, 0.676);
  }

  #content-employee-title h4 {
    font-size: 3vw;
    color: rgba(0, 51, 101, 0.613);
  }

  .employee-operation {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  #add-employee-btn {
    position: relative;
    margin-top: 9%;
    height: 50%;
    border-radius: 7px;
    border-width: 0px;
    width: 58%;
    margin-left: 8%;
    font-size: 3vw;
    background-color: rgb(255, 88, 88);
    color: white;
    font-weight: 200;
  }

  #add-employee-icon {
    position: absolute;
    width: 3vw;
    left: 11%;
    top: 33%;
  }
  .employee-filter-categories {
    height: 6vh;
    margin-bottom: 8%;
  }

  .filter-categories {
    display: flex;
    position: relative;
    height: 100%;
    border-radius: 7px;
    margin-top: 2%;
    margin-left: 2%;
    background-color: rgb(255 227 227);
  }

  .filter-categories p {
    color: rgb(255, 88, 88);
    margin-left: 1%;
    margin-top: 3%;
    font-size: 3vw;
  }

  #dropdown-options {
    width: 60%;
    margin-bottom: 1%;
  }
  #dropdown-options select {
    position: absolute;
    top: 18%;

    box-sizing: border-box;
    height: 69%;
    border-radius: 7px;
    border-color: red;
    font-size: 3vw;
  }

  #location-dropdown {
    width: 20%;
    left: 40%;
  }

  #department-dropdown {
    left: 12%;
    width: 25%;
  }

  .employee-filter-btn-container {
    display: flex;
    margin-left: 0%;
    padding-left: 1%;
    width: 30%;
  }

  #reset,
  #apply {
    height: 55%;
    width: 50%;
    margin-top: 8%;
    border-radius: 5px;
    border-width: 0px;
    font-size: 3vw;
  }

  #reset {
    color: rgb(255, 88, 88);
    background-color: white;
    border-width: 1px;
    border-color: red;
  }
  #apply {
    margin-left: 5%;
    background-color: rgb(255, 88, 88);
    color: white;
  }
}
